body.login{
    height: calc(100vh - 29px);
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images6.alphacoders.com/438/438994.jpg');
}

body.login main {
    width: 26%;
    box-shadow: 5px 20px 17px -4px rgb(0 0 0 / 30%);
    background-color: rgb(255, 255, 255);
    
}
body.login  h2 {
    padding: 0 30px;
    font-family: 'Courier New', Courier, monospace;
}
body.login form {
    padding: 0 35px 9px;
    
}

body.login form div.box-input{
    padding: 0 0 20px;
    font-family: 'Courier New', Courier, monospace;
}

body.login form div.box-input label {
    display: inline-block;
    line-height: 1.5rem;
    padding-bottom: 7px;
    font-family: 'Courier New', Courier, monospace;
}
body.login form div.box-input input {
    line-height: 1.5rem;
    width: 100%;
    padding-left: 7px;
}
body.login form div.box-input select {
    width: 100%;
    height: 1.824rem;
}

body.login form div.input-submit {
    display: flex;
    justify-content: center;
}
body.login form div.box-input input[type=submit] {
    width: min-content;
    padding: 3px 9px;
    text-transform: uppercase;
}
body.login form div.box-input input[type=checkbox] {
    width: min-content;
}
body.login form div small {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}